<section class="container">
   <header class="header d-flex">
     <div class="buscar-pensamentos">
      <input
      type="search"
      class="filtro"
      placeholder="O que você procura?"
      autofocus
      [(ngModel)]="filtro"
      (keyup)="pesquisarPensamentos()"
      >
      <img src="../../../../assets/imagens/lupa.png" alt="lupa azul">
     </div>
      <h2 class="ff-inter">{{ titulo }}</h2>
      <div class="botoes">
        <button class="botao" (click)="recarregarComponente()">Meu Mural</button>
        <button class="botao" (click)="listarFavoritos()">Meus Favoritos</button>
        <button routerLink="/criarPensamento" class="botao">Novo Pensamento</button>
      </div>
      <!--router link diretiva esse elemento se torna um link e faz a navegação para uma rota especifica -->
   </header>
   <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento
     [pensamento]="pensamento"
      [listaFavoritos]="listaFavoritos"
     ></app-pensamento><!--agora o pensamento possui acesso a essa lista de favoritos-->
    </div>

   </div>
</section>
<app-botao-carregar-mais
 [haMaisPensamentos]="haMaisPensamentos"
 (click)="carregarMaisPensamentos()"
 >

</app-botao-carregar-mais>
<ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos cadastrados</p>
    </div>
</ng-template>


<!--quando queremos mostrar varios elementos com a mesma estrutura basica ou quando iterar uma lista de elementos usamos uma estrutura de repetição
diretiva ngFor
*ngFor="let pensamento(representa cada um dos elementos da lista) of listaPensamentos" quero iterar pela lista de pensamentos e cada elemento da lista de pensamentos vai ser um pensamento
//[pensamento]="pensamento" fazendo property binding dessa propriedade[pensamento] para que recebe a propriedade que você quer


O “*ngFor” permite percorrer um array e exibir cada item como elemento no template.


A sintaxe é composta por uma variável local que recebe o valor de cada item percorrido seguido de qual será o array ou objeto iterável.

-->
